 /* settings */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	cursor: pointer;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}
/* end settings */

/* header */
.header .container {
	margin: 30px auto;
	justify-content: space-between;
}

.header .logo {
	display: block;
	color: #c3c3c3;
}

.header .user-menu-item {
	display: inline-block;
}

.header .user-menu-link {
	color: #727272;
}

.header .user-menu-item:first-child {
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #eeeeee;
}
/* end header */

/* main */
.main .costumers {
	background: #3f51b5;
}

.main .costumers .costumers-link {
	display: inline-block;
	padding: 18px 0;
	color: #fff;
	font-size: 14px;
}

.main .costumers .hydrated {
	display: inline-block;
	margin-right: 12px;
	vertical-align: middle;
	font-size: 22px;
}

.main .filters h3 {
	color: #767676;
	padding: 24px 0;
}

.main .filters .flex {
	align-items: center;
	justify-content: space-between;
}

.main .filters .input {
	margin-right: 15px;
	padding: 18px;
	border: 3px solid rgba(243,243,243,0.32);
	box-shadow: 0px 0px 20px 3px rgba(243,243,243,0.32);
	border-radius: 3px;
}

.main .filters #button {
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #ea1e63;
	border: none;
}

.main .btn:before {
	content: '';
	display: block;
	position: absolute;
	top: 34px;
	right: 24px;
	width: 22px;
	height: 4px;
	background: white;
}

.btn:after {
	content: '';
	display: block;
	position: absolute;
	top: 34px;
	right: 24px;
	width: 22px;
	height: 4px;
	background: white;
	transform: rotate(90deg);
}
.main .filters .modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	z-index: 1;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.main .filters .modal-content {
	width: 80%;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
}

.main .filters .close {
	float: right;
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
}

.main .block-title .container {
	max-width: inherit;
	width: 100%;
}

.modal {
	display: none;
}

 .modal-content {
	 position: fixed;
	 display: flex;
	 top: 0;
	 bottom: 0;
	 right: 0;
	 left: 0;
	 align-items: center;
	 justify-content: center;
	 background-color: rgba(0, 0, 0, 0.5);
 }

 .modal-content .block {
	 position: relative;
	 background: yellow;
	 padding: 20px;
	 border-radius: 3px;
 }

 .modal-content .close {
	 position: absolute;
	 top: 0;
	 right: 0;
	 width: 10px;
	 height: 10px;
	 background: #000;
	 cursor: pointer;
 }
 .modal-window {
	 background-color: #fff;
	 padding: 10px 15px;
	 border-radius: 10px;
 }

 .icon-inner {
	 font-size: 28px;
	 color: #c7c7c7;
	 margin-right: 38px;
 }
